[user]
	email = bryonpieter@gmail.com
	name = Pieter Bryon
	excludesfile = /mnt/c/Users/de_jo/.gitignore
[core]
	autocrlf = input
	excludesfile = /mnt/c/Users/de_jo/.gitignore
	safecrlf = false
[log]
    abbrevCommit=true
[status]
    showUntrackedFiles=all
[alias]
    latest = log -n 1
[push]
	default = simple
[commit]
	verbose = true
